/* Margin and padding Reset with set font */
html, body, header, h1 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
/* Hero section */
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('/assets/hero\ image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.hero h1 {
    font-size: 100px;
    color: white;
  }

.hero .btn {
    display: block;
    width: 200px;
    padding: 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    color: #fff;
    background-color: #66ddaa;
    text-decoration: none;
    font-size: 25px;
    
    border: 3px solid #fff;
    border-radius: 20px;
  }

.hero .btn:hover {
    background-color:#4BA37D;
  }

.logo {
    width: 100px;
    height: auto;
  }

/* Navigation bar */

#nav-bar {
    background-color:#333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
  }

#nav-bar a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 8%;
  }

#nav-bar li {
    display: inline;
    list-style: none;
  }

#nav-bar a:hover {
    color: #4BA37D;
  }

/* Visited link colour */
a:visited {
    color:#fff;
  }